<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.salesManagementSystem.mapper.StoreMapper">
    <resultMap id="BaseResultMap" type="cn.salesManagementSystem.entity.Store">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
    </resultMap>
    <delete id="deleteStore" parameterType="java.lang.Long">
        DELETE
        FROM t_store
        WHERE id = #{id}
          AND (SELECT COUNT(*) FROM ref_store_goods WHERE store_id = #{id}) = 0
          AND (SELECT COUNT(*) FROM t_user WHERE store_id = #{id}) = 0;
    </delete>

</mapper>