<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户信息管理</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="../static/layui/css/layui.css" media="all" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.js"></script>
</head>
<body>

<table class="layui-hide" id="test" lay-filter="test"></table>

<script id="toolbarDemo" type="text/html">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
        <button class="layui-btn layui-btn-sm" lay-event="add">单个添加</button>
<!--        <button type="button" class="layui-btn  layui-btn-sm" id="uploadXml"><i class="layui-icon"></i>通过xml文件批量添加-->
<!--            -->
<!--        </button>-->
        <button class="layui-btn layui-btn-sm" lay-event="deleteByIds">批量删除</button>
    </div>
</script>

<script id="barDemo" type="text/html">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script charset="utf-8" src="../static/layui/layui.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<div id="addByXml">

</div>

<form action="" class="layui-form" enctype="multipart/form-data" id="addForm" lay-filter="add"
      style="display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input autocomplete="off" class="layui-input" lay-reqtext="用户名是必填项，岂能为空？" lay-verify="required"
                   name="username"
                   placeholder="用户名" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input autocomplete="off" class="layui-input" lay-reqtext="密码是必填项，岂能为空？" lay-verify="required"
                   name="password"
                   placeholder="密码" type="password">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">真实姓名</label>
        <div class="layui-input-block">
            <input autocomplete="off" class="layui-input" lay-reqtext="真实姓名是必填项，岂能为空？" lay-verify="required"
                   name="realName"
                   placeholder="真实姓名" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input autocomplete="off" class="layui-input" lay-reqtext="邮箱是必填项，岂能为空？" lay-verify="required"
                   name="email"
                   placeholder="邮箱" type="text">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">所属门店</label>
        <div class="layui-input-inline">
            <select id="storeSelectAdd" lay-search="" lay-verify="required" name="storeId">
            </select>
        </div>
    </div>
    <div class="layui-input-block">
        <button class="layui-btn" lay-filter="addSub" lay-submit=""
                style="width: 80%; margin-left: 25px; margin-top: 10px"
                type="submit">添加
        </button>
    </div>
</form>

<form action="" class="layui-form" enctype="multipart/form-data" id="updataForm" lay-filter="update"
      style="display: none">
    <div class="layui-form-item" style="display:none">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
            <input autocomplete="off" class="layui-input" id="id" lay-verify="required" name="id" placeholder="ID"
                   type="text" readonly="true">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input autocomplete="off" class="layui-input" id="username" lay-verify="required" name="username"
                   placeholder="用户名"
                   style="width:340px" type="text" readonly="true">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input autocomplete="off" class="layui-input" id="password" name="password"
                   placeholder="密码"
                   style="width:340px" type="password">
        </div>
    </div>

    <div class="layui-inline" id = userRoleSelectDiv>
        <label class="layui-form-label">用户角色</label>
        <div class="layui-input-inline">
            <select id="userRoleSelect" lay-search="" lay-verify="required" name="roleId">
                <option value="">请选择用户角色</option>
                <option value="1">系统管理员</option>
                <option value="2">门店管理员</option>
                <option value="4">销售员</option>
            </select>
        </div>
    </div>

    <div class="layui-inline" id="storeSelectDiv">
        <label class="layui-form-label">所属门店</label>
        <div class="layui-input-inline">
            <select id="storeSelectUpdate" lay-search="" lay-verify="required" name="storeId">
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">真实姓名</label>
        <div class="layui-input-block">
            <input autocomplete="off" class="layui-input" id="realName" name="realName" lay-verify="required"
                   placeholder="真实姓名"
                   style="width:340px" type="text">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input autocomplete="off" class="layui-input" id="email" name="email" lay-verify="required"
                   placeholder="邮箱"
                   style="width:340px" type="text">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否启用</label>
        <div class="layui-input-block">
            <input type="radio" name="enableStatus" value="0" title="已禁用">
            <input type="radio" name="enableStatus" value="1" title="已启用">
        </div>
    </div>

    <div class="layui-form-item" id="sub">
        <button class="layui-btn" id="updateSub" lay-filter="updateSub" lay-submit style="margin-left:220px"
                type="button">
            提交
        </button>
    </div>
</form>

<script>
    layui.use(['upload', 'table', 'layer', 'form'], function () {
        var table = layui.table,
            layer = layui.layer,
            form = layui.form,
            upload = layui.upload,
            $ = layui.jquery;

        table.render({
            elem: '#test'
            , url: '/user/getUserList'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '用户数据表'
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true}
                    , {field: 'username', title: '用户名'}
                    , {field: 'realName', title: '姓名'}
                    , {field: 'roleId', title: '角色id', hide: true}
                    , {field: 'role', title: '用户角色'}
                    , {field: 'storeId', title: '门店id', hide: true}
                    , {field: 'store', title: '所在门店'}
                    , {field: 'email', title: '邮箱'}
                    , {field: 'enableStatus', title: '用户状态', sort: true, templet: function(d){if(d.enableStatus == 0){return '未启用'}else{return '已启用'}}}
                    , {field: 'createTime', title: '注册时间', sort: true}
                    , {field: 'updateTime', title: '修改时间', hide: true}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo'}
                ]
            ]
            , page: true
            ,request: {
                pageName: 'current' //页码的参数名称，默认：page
                ,limitName: 'size' //每页数据量的参数名，默认：limit
            }
        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'deleteByIds':
                    var data = checkStatus.data;
                    var ids = [];
                    for(var i = 0; i < data.length; i++){
                        ids.push(data[i].id);
                    }
                    layer.confirm('确定要删除这' + ids.length + '个用户吗？', {
                        btn: ['确定','取消'] //按钮
                    }, function(){
                        multiDelete(ids);
                    }, function(){
                        layer.close(layer.index);
                    });
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
                case 'add': {
                    getStoreList("storeSelectAdd");
                    //捕获表单，打开弹层
                    formLayerId = layer.open({
                        type: 1,
                        shade: false,
                        title: false, //不显示标题
                        content: $('#addForm'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                        cancel: function () {
                            form.render();
                            layer.close(formLayerId);
                        }
                    });
                    break;
                }
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
        });
        var formLayerId;
        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除该用户么', function (index) {
                    $.ajax({
                        type: "POST", //指定提交的类型 get对应 doGet()方法，post--->doPost()犯法
                        url: '/user/deleteById',    //传输地址的URL
                        data: data, //data代表我们的数据  key -value类型的数据
                        dataType: 'JSON',
                        async: false, //success和error代表是否返回成功，既后台给前台传输数据是否成功
                        success: function (res) {
                            if (res.code == "401") {
                                layer.msg("账号已过期或无权访问本接口，请重新登陆");
                                form.render();
                            } else if (res.code == "200") {
                                layer.msg(res.msg);
                                //刷新页面
                                table.reload('test', {
                                    url: '/user/getUserList'
                                });
                            } else {
                                layer.msg(res.msg);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(typeof (errorThrown));
                            layer.close(formLayerId);
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                getStoreList("storeSelectUpdate");
                form.render()
                form.val('update', {
                    "id": data.id // "name": "value"
                    , "username": data.username
                    , "roleId":data.roleId
                    , "storeId": data.storeId
                    , "realName": data.realName
                    , "email": data.email
                    , "enableStatus": data.enableStatus
                });
                //捕获表单，打开弹层
                formLayerId = layer.open({
                    type: 1,
                    shade: false,
                    title: false, //不显示标题
                    content: $('#updataForm'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                    cancel: function () {
                        form.render();
                        layer.close(formLayerId);
                    }
                });
            }
        });

        //修改表单提交事件
        form.on('submit(updateSub)', function (data) {
            data.field.password = md5(data.field.password);
            $.ajax({
                type: "POST", //指定提交的类型 get对应 doGet()方法，post--->doPost()犯法
                url: "/user/update",    //传输地址的URL
                data: JSON.stringify(data.field), //data代表我们的数据  key -value类型的数据
                contentType: "application/json",
                dataType: 'JSON',
                async: false, //success和error代表是否返回成功，既后台给前台传输数据是否成功
                success: function (res) {
                    if (res.code == 401) {
                        layer.msg("账号已过期，请重新登陆");
                        form.render();
                    } else if (res.code == 200) {
                        layer.msg(res.msg);
                        //刷新页面
                        table.reload('test', {
                            url: '/user/getUserList'
                        });
                        form.render();
                    } else {
                        layer.msg(res.msg);
                        form.render();
                    }
                    layer.close(formLayerId);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(typeof (errorThrown));
                    layer.close(formLayerId);
                }
            });
        });
        //单个添加表单提交事件
        form.on('submit(addSub)', function (data) {
            data.field.password = md5(data.field.password);
            $.ajax({
                type: "post", //指定提交的类型
                url: "/user/addUser",    //传输地址的URL
                data: JSON.stringify(data.field), //data代表我们的数据  key -value类型的数据
                dataType: 'JSON',
                contentType: "application/json",
                async: false, //success和error代表是否返回成功，既后台给前台传输数据是否成功
                success: function (res)//success、error代表是否返回成功
                {
                    if (res.code == 200) {
                        layer.msg("添加成功！！");
                        table.reload('test', {
                            url: '/user/getUserList'
                        });
                    } else if (res.code == 20001) {
                        layer.msg("已存在相同用户名的用户");
                    } else {
                        layer.msg("操作失败!");
                    }
                    layer.close(formLayerId);
                    form.render();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg("网络错误！");
                    layer.close(formLayerId)
                }
            });
            return false;
        });
        // //文件上传
        // upload.render({ //允许上传的文件后缀
        //     elem: '#uploadXml'
        //     , url: '/student/teacherAddStudentsUseXml' //改成您自己的上传接口
        //     , accept: 'file' //普通文件
        //     , exts: 'xml' //只允许上传xml文件
        //     , done: function (res) {
        //         layer.msg(res.msg);
        //         console.log(res);
        //         table.reload('test', {
        //             url: '/user/getUserList'
        //         });
        //     }
        // });
        // 获取门店列表
        function getStoreList(id) {
            $.ajax({
                type: "get", //指定提交的类型 get对应 doGet()方法，post--->doPost()犯法
                url: "/Store/getStoreIdAndNameList",    //传输地址的URL
                data: {}, //data代表我们的数据  key -value类型的数据
                dataType: 'JSON',
                async: false, //success和error代表是否返回成功，既后台给前台传输数据是否成功
                success: function (res)//success、error代表是否返回成功
                {
                    if (res.code == 200) {
                        var html = '<option value="">请选择一个门店</option>';
                        for (var i = 0; i < res.data.length; i++) {
                            html += '<option value="' + res.data[i].id + '">' + res.data[i].name + '</option>';
                        }
                        $("#" + id).html(html);
                        form.render("select");
                    } else {
                        layer.msg("获取门店列表失败，请检查网络连接");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg("网络错误！");
                }
            });
        }
        function multiDelete(ids){
            $.ajax({
                type: "POST", //指定提交的类型 get对应 doGet()方法，post--->doPost()犯法
                url: '/user/multiDelete',    //传输地址的URL
                data: {"ids": ids}, //data代表我们的数据  key -value类型的数据
                dataType: 'JSON',
                async: false, //success和error代表是否返回成功，既后台给前台传输数据是否成功
                traditional: true,
                success: function (res) {
                    if (res.code == "401") {
                        layer.msg("账号已过期或无权访问本接口，请重新登陆");
                        form.render();
                    } else if (res.code == "200") {
                        layer.msg(res.msg);
                        //刷新页面
                        table.reload('test', {
                            url: '/user/getUserList'
                        });
                    } else {
                        layer.msg(res.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(typeof (errorThrown));
                    layer.close(formLayerId);
                }
            });
        }
    });
</script>

</body>
</html>